URL=https://merchant.onewayqueue.com/queuedept.aspx?i=HV8AuMI4EQWIG5Yu64zc9H7FJxxtJexAbirIpoQ9nM
NAME=Your Name
PHONE=+601XXXXXXXX
ADULTS=2
CHILDREN=0
PIN_START=1
PIN_END=10000
PIN_PRIORITY_START=300
PIN_PRIORITY_END=399
DELAY=0.05
# Comma-separated list of proxies e.g. http://user:pass@host:port,http://host2:port
PROXIES=
